
.shop {
  background-color:#f6f6f6;
}

.shop-header 
{
  margin-bottom: 5vh;

  padding: 5% 0;
  display: flex;
  color: white;
  align-items: center;
  padding-left: 13vw;
  gap: 20px;
  font-size: 2rem;
  font-weight: 300;
  height: 50vh;
  
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.shop-header {
  background-image: url(/public/images/shop-bg.jpg);
}

.shop-header:hover{
  cursor:default;
}

.shop-header span {
  background-color: white;
  height: 1px;
  width: 30px;
}

.shop-sidebar {
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;
  text-align: left;
  width: 20vw;
  margin-top: 210px;
  padding-left: 3vw;
}

.shop-sidebar button {
  cursor: pointer;
  align-self: flex-start;
  text-align: left;
  background-color: transparent;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color:#868686;
  letter-spacing: 1px;
  padding-bottom: 10px;
}

.item-section {
    display: flex;
    justify-content: flex-end;
  }
  .conts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 3vw;
  }
  
  .filter-title {
    padding-bottom: 50px;
    font-size: 1.8rem;
    font-weight: 300;
    color: #474645;
    margin-bottom: 100px;
    text-align: center;
    letter-spacing: 2px;
    position: relative;
  }
  
  .filter-title::after {
      width: 20px;
      height: .5px;
      position: absolute;
      left: 50%;
      bottom: 0;
      background: #464644;
      transform: translateX(-50%);
      content: '';
  }


  @media only screen and (max-width: 970px) {

    .shop-items {
      width: 90vw;
      gap: 60px;
    }
  
    .shop-item {
      min-width: 200px;
      max-width: 300px;
      
    }
  
    .item-section {
      flex-direction: column;
    }
  
    .shop-sidebar {
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      width: 95%;
      justify-content: space-around;
      margin: 40px 0;
      padding-bottom: 20px;
    }
  
    .shop-sidebar button {
      margin: auto 0;
      padding: 0;
    }
  
    .shop-sidebar :nth-child(5) { order: 1; }
  
    .filter-title {
      display: none;
    }
  
    .media-title {
      visibility: visible;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .shop-items {
      flex-direction: column;
      align-items: center;
    }
  
    .shop-item {
      width: 80vw;
      height: 40vw;
    }
    .contact-column {
      flex-direction: column;
    }
  }