.info-container {
    padding-top: 15vh;
    display: flex;
    justify-content: center;
    gap: 100px;
    width: 80%;
    margin: 0 auto;
  }
  
  .image-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  
  .detailsImage {
    min-width: 200px;
    width: 20vw;
    height: auto;
    padding: 5% 10%;
    min-width: 350px;
    background-color: #ebebeb;
  }
  
  .chair-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  }
  
  .chair-info h1 {
    font-weight: 400;
  }
  
  .chair-availability {
    color: #6a6a6a;
    margin-top: 10px;
  }
  
  .chair-description {
    width: 100%;
    font-weight: 100;
    line-height: 30px;
    margin-top: 30px;
  }
  
  .priceDiscounted {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
  }
  
  .discountPrice {
    color: rgb(199, 147, 147);
    font-size: 2rem;
    margin: 0;
  }
  
  .originalPrice {
    text-decoration: line-through;
    margin: 0;
  }
  
  .no-discount {
  
    color: black;
  }
  
  .originalPrice, .no-discount {
    font-size: 1.5rem;
    margin: 0;
  }
  
  .quantityManager {
    margin-top: auto;
    display: flex;
    gap: 20px;
  }
  
  .quantityManager button {
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    color: #868686;
    font-weight: 200;
    cursor: pointer;
  }
  
  .basket-container {
    display: flex;
  }
  
  .basket-notification {
    background-color: rgb(104, 159, 104);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: white;
    width: 50px
  }
  
  .add-to-basket {
    overflow: hidden;
    background-color: transparent;
    border: solid 1px #868686;;
    padding: 0 40px;
    cursor: pointer;
    color: #868686;
    margin: 0;
  }
  
  .button-slidetext {
    display: none;
  }
  
  .chair-tabs {
    margin-top: 10vh;
    padding: 20px 0;
    min-height: 20vh;
    width: 100vw;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
  }
  
  .chair-tabs span {
    background-color: #a3a3a3;
    height: 1px;
    width: 70vw;
    margin-bottom: 20px;
  }
  
  .react-tabs__tab--selected {
    color: black;
    border-bottom: solid black 1px;
    font-weight: 500;
    border-width: 50%;
    padding-bottom: 2px;
  }
  
  .itemInfo {
    display: flex;
    width: 70vw;
    list-style: none;
    gap: 50px;
    cursor: pointer;
  }
  
  .itemInfo li {
    font-size: 1.2rem;
    font-family: "Lora";
    letter-spacing: 4px;
  }
  
  .item-description h3, .additional-info h3 {
    font-weight: 400;
    font-size: 1.2rem;
  }
  
  .additional-info-container {
    width: 70vw;
  }
  
  .item-description {
    line-height: 30px;
  }
  
  .item-description, .item-description p, .additional-info {
    width: 70%;
  }
  
  .column-separator {
    background-color: #d4d4d4;
    height: .5px;
    width: 100%;
    margin: 10px 0;
  }
  
  .info-column {
    color: #5d5d5d;
    display: flex;
    justify-content: space-between;
  }
  