.select-styling {
    position : relative;
    align-self: flex-start;
  }
  
  .chair-sort {
    cursor: pointer;
    appearance: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #868686;
    font-size: inherit;
    background-color: transparent;  
    border: solid 1px #a3a3a3;
    padding: .8rem 2.5rem .8rem 1.5rem;
    margin: 0;
  }
  
  .chair-sort:focus {
    appearance: none;
  }
  
  .select-arrow {
    position: absolute;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    width: 20%;
    height: 95%;
  }
  
  