@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=Montserrat:wght@100;200;300;400;500&family=Mulish:wght@200;300;400&family=Playfair+Display&family=Quattrocento+Sans:wght@400;700&family=Roboto:wght@100;300;400&display=swap');

/* filter fonts when done! */

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #868686;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #f6f6f6;
}

.active ~ .hover-navlink{
  position: absolute; 
  bottom: 0px; 
  left: 0; 
  top: 30px;
  width: 50%; 
  height: 1px; 
  background-color: #a3a3a3; 
}

a {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #a3a3a3;
  text-decoration: none;
}


.stick-bar-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-toggle {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

.menu, .menu-overlay {
  width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.menu-overlay {
  background: rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.menu-links {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
}

.menu-overlay .logo {
  margin: 0;
  width: 100%;
  color: white;
  font-size: 4rem;
}


.menu .social-media {
  padding-bottom: 1vh;
}

.basket-size, .wishlist-size {
  color: rgb(54, 53, 53);
  text-align: center;
  padding: 3px 3px 0 3px;
  background-color: #f6f6f6;
  width: 1.5rem;
  height: 1.5rem;
}

.navbar {
  margin-right: 10vw;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

.navbar-links {
  margin-right: 2vw;
  display: flex;
  gap: 100px;
}

.navlink1, .navlink2, .navlink3 {
  position: relative;
}

.navbar-links a {
  border: 0; 
  padding: 10px 0; 
}

.hover-navlink {
  position: absolute; 
  bottom: 0px; 
  left: 0; 
  top: 30px;
  width: 0; 
  height: 1px; 
  background-color: #a3a3a3; 
  transition: 0.2s;
}

.navbar-links a:hover ~ .hover-navlink {
  width: 50%; 
  transition: 0.2s;
}



.logo {
  font-family: "Playfair Display";
  font-size: 2rem;
  margin-left: 70px;
  color: #747474;
}

.search {
  margin-right: 70px;
}

.hero {
  min-height: 100vh;
  margin-bottom: 16vh;
  width: 100%;
  background-color: #f6f6f6;
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 150px;
}

.hero-mid {
  width: 20vw;
  text-align: center;
}

.hero-mid h1, .hero-mid h2 {
  cursor: default;
  border: solid black 1px;
  margin: 0;
  color: rgb(54, 53, 53);
  letter-spacing: .5rem;
  font-size:  1rem;
  font-family: "Lora";
  padding: 15px;
}

.hero-mid h1 {
  border-top: 0;
  font-size: 4rem;
  padding: 20px;
  letter-spacing: 1rem;
}
.hero-mid p {
  cursor: default;
  margin-top: 40px;
}

.shop-link {
  margin-top: 20px;
  color: rgb(54, 53, 53);
  font-size: 1.2rem;
  width: 200px;
  height: 50px;
  background-color: #f6f6f6;
  border: solid black 1px;
  font-family: "Montserrat";
  font-weight: 300;
}
.shop-link:hover {
  cursor: pointer;
}

.hero-img {
  width: 15vw;
  height: 100%;
  transition: transform .2s;
}

.hero-img:hover {
  transform: scale(1.1);
}

.slider-container {
  overflow: hidden;
  height: 70vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
}

.slider {
  width: 100vw;
  position: relative;
  height: 60vh;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position:absolute;
  
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.slide-left, .slide-right {
  position: absolute;
  border: none;
  font-size: 2rem;
  color: #747474;
  background-color:transparent;
  cursor: pointer;
  z-index: 1;
}

.slide-left {
  margin-left: 40px;
  left: 0;
}

.slide-right {
  margin-right: 40px;
  right: 0;
}

.slider-section {
  padding-top: 200px;
  font-family: "Lora";
  background-color: #f6f6f6;
}



.featured-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured-header h1 {
  color: black;
}

.featured-img {
  width: 12vw;
}

.featured-title {
  text-align: center;
  color: rgb(66, 66, 66);
}

.featured-price {
  text-align: center;
}

.rooms-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40vh;
}

.rooms-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 33vw;
  background-position: bottom 25% right 50%;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.column1 {
  background:  rgba(0, 0, 0, 0.3) url("/public/images/bar.jpg");
  background-blend-mode: darken
}
.column2 {
  background: rgba(0, 0, 0, 0.3) url("/public/images/dining.jpg");
  background-blend-mode: darken
}
.column3 {
  background-image: url("/public/images/living.jpg");
}

.room-title {
  color: white;
  font-size: 2.2rem;
  border: none;
}

.rooms-categories {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  list-style: none;
  font-family: "Montserrat";
  text-align: center;
}


.rooms-categories a li {
  font-size: 0.9rem;
  font-weight: 300;
  color: white;
  z-index: 1;
}

.room-button {
  letter-spacing: 4px;
  color: white;
  background: transparent;
  border: solid white 1px;
  font-weight: bold;
  padding: 15px 30px;
}

.column h2, .column button {
  border: none;
}

.footer {
  margin-top: 20px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  gap: 10vw;
}

.footer-title {
  color: rgb(57, 57, 57);
  font-family: "Lora";
  letter-spacing: 4px;
}

.footer-newsletter {
  display: flex;
  flex-direction: column;
  width: 30vw;
}


.newsletter-signup {
  display: flex;
  flex-direction: row;
  float: left; 
  width: 100%;
  margin: 5% 0;
  position: relative;
}

.email-input {
  width: 100%;
  font-size: 1rem;
  opacity: 0.5;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 7px 0; 
  border-bottom: 1px solid #ccc;
  z-index: 1
}

.email-input ~ .focus-animation {
  position: absolute; 
  bottom: 0; 
  left: 0; 
  width: 0; 
  height: 2px; 
  background-color: #3399FF; 
  transition: 0.4s;
  z-index: 1;
}

.email-input:focus ~ .focus-animation {
  width: 100%; 
  transition: 0.4s;
}

.email-valid {
  color: green;
}

.email-invalid {
  color: red;
}

.newsletter-signup button {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  color:rgb(57, 57, 57);
  position: absolute;
  right: 0;
  z-index: 1
}

.social-media {
  display: flex;
  gap: 20px;
  font-size: 1.8rem;
}


.addToWishlist:hover, .removeFromWishlist:hover, .shop-link:hover, .hero-img:hover, .room-button:hover {
  cursor: pointer;
}

.shop {
  background-color:#f6f6f6;
}

.shop-header {
  margin: 5% 0;
  display: flex;
  color: white;
  align-items: center;
  padding-left: 13vw;
  gap: 20px;
  font-size: 2rem;
  font-weight: 200;
  height: 50vh;
  background-image: url(/public/images/shop-bg.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.shop-header:hover {
  cursor:default;
}

.shop-header span {
  background-color: white;
  height: 1px;
  width: 30px;
}

.item-section {
  display: flex;
  margin-left: 5vw;
}

.shop-sidebar {
  display: flex;
  gap: 15px;
  flex-direction: column;
  width: 20vw;
  margin-top: 210px;
}

.shop-sidebar button, .shop-sidebar select {
  text-align: left;
  margin-left: 20%;
  background-color: transparent;
  border: none;
  font-family: "Roboto";
  font-size: 1rem;
  color:#868686
}

.shop-sidebar select {
  appearance: none;
  border: none;
}

.conts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-title {
  padding-bottom: 50px;
  font-size: 1.8rem;
  font-weight: 300;
  color: #474645;
  margin-bottom: 100px;
  text-align: center;
  letter-spacing: 2px;
  position: relative;
}

.filter-title::after {
    width: 20px;
    height: 1px;
    position: absolute;
    left: 50%;
    bottom: 0;
    background: #464644;
    transform: translateX(-50%);
    content: '';
}

.shop-items {
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.shop-item {
  width: 40%;
  height: 20vw;
  overflow: hidden;
  position: relative;
}

.chair {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.chair-hover > * {
  transform: translateY(50%);
  transition: transform 0.5s;
}

.chair-hover {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  color: rgb(218, 218, 218);
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.5s;
}

.chair-hover:hover > * {
  transform: translateY(0);
}

.chair-hover:hover {
  opacity: 1;
}

.chair-mid {
  margin: auto 0;
  font-weight: 300;
  text-align: center;
}

.chair-mid p{
  padding-bottom: 50%;
}

.chair-mid a {
  border: solid rgb(218, 218, 218) 1px;
  padding: .5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.addToWishlist, .removeFromWishlist {
  align-self: flex-end;
  font-size: 1.3rem;
  padding-right: 5%;
}

.wishlistItem, .cartItem {
  border: solid 1px black;
}

.info-container {
  display: flex;
  justify-content: center;
  gap: 100px;
  width: 100%;
}

.image-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.detailsImage {
  min-width: 200px;
  width: 20vw;
  height: auto;
  padding: 5vh 10vw;
  background-color: #ebebeb;
}

.chair-info {
width: 100%;
display: flex;
flex-direction: column;
align-items: flex-start;
}

.chair-info h1 {
  font-weight: 400;
}

.chair-availability {
  color: #6a6a6a;
  margin-top: 10px;
}

.chair-description {
  width: 60%;
  font-weight: 100;
  line-height: 30px;
  margin-top: 30px;
}

.priceDiscounted {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}

.discountPrice {
  color: rgb(199, 147, 147);
  font-size: 2rem;
  margin: 0;
}

.originalPrice {
  text-decoration: line-through;
  margin: 0;
}

.no-discount {

  color: black;
}

.originalPrice, .no-discount {
  font-size: 1.5rem;
  margin: 0;
}

.quantityManager {
  margin-top: auto;
  display: flex;
  gap: 20px;
}

.quantityManager button {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  color: #868686;
  font-weight: 200;
  cursor: pointer;
}

.add-to-basket {
  background-color: transparent;
  border: solid 1px #868686;;
  padding: 15px 40px;
  cursor: pointer;
  color: #868686;
  margin-bottom: 5%;
}

.chair-tabs {
  margin-top: 10vh;
  padding: 20px 0;
  min-height: 20vh;
  width: 100vw;
  background-color: #ebebeb;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.chair-tabs span {
  background-color: #a3a3a3;
  height: 1px;
  width: 70vw;
  margin-bottom: 20px;
}

.react-tabs__tab--selected {
  color: black;
}

.itemInfo {
  display: flex;
  width: 70vw;
  list-style: none;
  gap: 50px;
  cursor: pointer;
}

.itemInfo li {
  font-size: 1.2rem;
  font-family: "Lora";
  letter-spacing: 4px;
}

.additional-info-container {
  width: 70vw;
}

.item-description {
  line-height: 30px;
}

.item-description, .item-description p, .additional-info {
  width: 70%;
}

.column-separator {
  background-color: #d4d4d4;
  height: .5px;
  width: 100%;
  margin: 10px 0;
}

.info-column {
  color: #5d5d5d;
  display: flex;
  justify-content: space-between;
}

.contact-container {
  width: 70vw;
  margin-left: 10%;
  text-align: left;
}

.contact-column {
  display: flex;
  justify-content: space-between;
  border-bottom:solid 1px #d4d4d4 ;
}

.contact-column div {
  min-width: 25%;
}

.contact-column h2 {
  font-weight: 400;
}