@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=Roboto:wght@100;300;400&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: black;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #f6f6f6;
}

.active ~ .hover-navlink{
  position: absolute; 
  bottom: 0px; 
  left: 0; 
  top: 30px;
  width: 50%; 
  height: 1px; 
  background-color: #d4d4d4; 
}

a {
  font-family: 'Roboto', sans-serif;
  color: #464644;
  text-decoration: none;
}

.individual-price {
  display: flex;
  position: relative;
  width: 15%;
}

.addToWishlist:hover, .removeFromWishlist:hover, .shop-link:hover, .hero-img:hover, .room-button:hover {
  cursor: pointer;
}



