@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=Roboto:wght@100;300;400&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: black;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #f6f6f6;
}

.active ~ .hover-navlink{
  position: absolute; 
  bottom: 0px; 
  left: 0; 
  top: 30px;
  width: 50%; 
  height: 1px; 
  background-color: #d4d4d4; 
}

a {
  font-family: 'Roboto', sans-serif;
  color: #464644;
  text-decoration: none;
}

.individual-price {
  display: flex;
  position: relative;
  width: 15%;
}

.addToWishlist:hover, .removeFromWishlist:hover, .shop-link:hover, .hero-img:hover, .room-button:hover {
  cursor: pointer;
}


@media only screen and (max-width: 768px) {
  .rooms-container {
    flex-direction: column;
    height: auto;
  }
  .rooms-container div {
    width: 100%;
    height: 60vh;
  }
  .hero-img, .hero-chair-link {
    visibility: hidden;
  }
  .navbar-links {
    visibility: hidden;
    position: absolute;
  }
  .menu-toggle {
    visibility: visible;
  }
  .menu-link {
    visibility: visible;
    opacity: 1;
  }
  
}

@media only screen and (max-width: 970px) {

  .shop-items {
    width: 90vw;
    gap: 60px;
  }

  .shop-item {
    min-width: 200px;
    max-width: 300px;
    
  }

  .item-section {
    flex-direction: column;
  }

  .shop-sidebar {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 95%;
    justify-content: space-around;
    margin: 40px 0;
    padding-bottom: 20px;
  }

  .shop-sidebar button {
    margin: auto 0;
    padding: 0;
  }

  .shop-sidebar :nth-child(5) { order: 1; }

  .filter-title {
    display: none;
  }

  .media-title {
    visibility: visible;
  }
}

@media only screen and (max-width: 600px) {
  .shop-items {
    flex-direction: column;
    align-items: center;
  }

  .shop-item {
    width: 80vw;
    height: 40vw;
  }
  .contact-column {
    flex-direction: column;
  }
}


@media only screen and (max-width: 970px) {
  .info-container {
    flex-direction: column;
    margin: 0 auto;
    width: 100vw;  
  }
  .detailsImage {
    width: 100%;
    height: auto;
  }
  .image-container {
    width: 80%;
    justify-content: center;
    margin: 0 auto;
  }
  .additional-info, .item-description p {
    width: 100%;
  }
  .itemInfo {
    width: 90%;
    padding: 0;
    justify-content: space-evenly;
  
  }
  .chair-info {
    width: 80%;
    margin: 0 auto
  }
  .chair-tabs {
    width: 80vw;
  }
}

@media only screen and (max-width: 600px) {
  .itemInfo {
    flex-direction: column;
    align-items: center;
  }
  .itemInfo li {
    border: solid black 1px;
    padding: 10px;
  }
  
}

@media only screen and (max-width: 768px) {
  .basket-itemcounter {
    border: none;
  }
  .basket-itemcounter h3 {
    display: none;
  }

  .map {
    flex-direction: column;
  }
  .mapboxgl-map {
    width: 100%;
  }
}

@media only screen and (max-width: 600px)  {
  .individual-price {
    display: none;
  }
  .cart-img {
    display: none;
  }
  .cart-total {
    padding: 30px 20px;
  }
}

