@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&family=Playfair+Display&display=swap');


body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #a3a3a3;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.active {
  color: black;
}

a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #a3a3a3;
  text-decoration: none;
}

.sticky-bar {
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  border: solid #f4f4f4 1px;
  background-color: white;
  width: 100%;
  min-height: 6vh;
}

.sticky-bar a {
  width: 10vw;
  height: 6vh;
  border: solid #f4f4f4 1px;
  display: flex;
  justify-content: center;
}

.stick-bar-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.basket-size, .wishlist-size {
  color: rgb(54, 53, 53);
  text-align: center;
  padding: 3px 3px 0 3px;
  background-color: #f6f6f6;
  width: 1.5rem;
  height: 1.5rem;
}

.navbar {
  margin-top: 8vh;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links {
  display: flex;
  gap: 120px;
}

.logo {
  font-family: "Playfair Display";
  font-size: 2rem;
  margin-left: 70px;
  color: #747474;
}

.search {
  margin-right: 70px;
}

.hero {
  min-height: 100vh;
  width: 100%;
  background-color: #f6f6f6;
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 150px;
}

.hero-mid {
  width: 20vw;
  text-align: center;
}

.hero-mid h1, h2 {
  cursor: default;
  border: solid black 1px;
  margin: 0;
  color: rgb(54, 53, 53);
  letter-spacing: .3rem;
  font-size: 1rem;
  padding: 15px;
}

.hero-mid h1 {
  border-top: 0;
  font-size: 4rem;
  padding: 20px;
  letter-spacing: 1rem;
}
.hero-mid p {
  cursor: default;
  margin-top: 40px;
}

.shop-link {
  margin-top: 20px;
  color: rgb(54, 53, 53);
  font-size: 1.2rem;
  width: 200px;
  height: 50px;
  background-color: #f6f6f6;
  border: solid black 1px;
  font-family: "Montserrat";
  font-weight: 400;
}
.shop-link:hover {
  cursor: pointer;
}

.hero-img {
  width: 15vw;
  height: 100%;
  transition: transform .4s;
}

.hero-img:hover {
  transform: scale(1.1);
}

.slider {
  width: auto;
  height: 50vh;
  display: flex;
  justify-content: center;
  gap: 10px;
  
  font-size: 10rem;
}

.slider div {
  border: solid black 1px;
  width: 500px;
}

.chair {
}

.addToWishlist:hover, .removeFromWishlist:hover, .shop-link:hover, .hero-img:hover {
  cursor: pointer;
}







.wishlistItem, .cartItem {
  border: solid 1px black;
}
