@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=Montserrat:wght@100;200;300;400;500&family=Mulish:wght@200;300;400&family=Playfair+Display&family=Quattrocento+Sans:wght@400;700&family=Roboto:wght@100;300;400&display=swap');

/* filter fonts when done! */

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #868686;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #f6f6f6;
}

.active ~ .hover-navlink{
  position: absolute; 
  bottom: 0px; 
  left: 0; 
  top: 30px;
  width: 50%; 
  height: 1px; 
  background-color: #a3a3a3; 
}

a {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #a3a3a3;
  text-decoration: none;
}

.sticky-bar {
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  border: solid #f4f4f4 1px;
  background-color: white;
  width: 100%;
  min-height: 6vh;
  z-index: 1;
}

.sticky-bar a {
  width: 10vw;
  height: 6vh;
  border: solid #f4f4f4 1px;
  display: flex;
  justify-content: center;
}

.stick-bar-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.basket-size, .wishlist-size {
  color: rgb(54, 53, 53);
  text-align: center;
  padding: 3px 3px 0 3px;
  background-color: #f6f6f6;
  width: 1.5rem;
  height: 1.5rem;
}

.navbar {
  margin-top: 8vh;
  margin-right: 10vw;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  position: absolute;
}

.navbar-links {
  margin-right: 2vw;
  display: flex;
  gap: 100px;
}

.navlink1, .navlink2, .navlink3 {
  position: relative;
}

.navbar-links a {
  border: 0; 
  padding: 10px 0; 
}

.hover-navlink {
  position: absolute; 
  bottom: 0px; 
  left: 0; 
  top: 30px;
  width: 0; 
  height: 1px; 
  background-color: #a3a3a3; 
  transition: 0.2s;
}

.navbar-links a:hover ~ .hover-navlink {
  width: 50%; 
  transition: 0.2s;
}



.logo {
  font-family: "Playfair Display";
  font-size: 2rem;
  margin-left: 70px;
  color: #747474;
}

.search {
  margin-right: 70px;
}

.hero {
  min-height: 116vh;
  width: 100%;
  background-color: #f6f6f6;
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 150px;
}

.hero-mid {
  width: 20vw;
  text-align: center;
}

.hero-mid h1, h2 {
  cursor: default;
  border: solid black 1px;
  margin: 0;
  color: rgb(54, 53, 53);
  letter-spacing: .5rem;
  font-size:  1rem;
  font-family: "Lora";
  padding: 15px;
}

.hero-mid h1 {
  border-top: 0;
  font-size: 4rem;
  padding: 20px;
  letter-spacing: 1rem;
}
.hero-mid p {
  cursor: default;
  margin-top: 40px;
}

.shop-link {
  margin-top: 20px;
  color: rgb(54, 53, 53);
  font-size: 1.2rem;
  width: 200px;
  height: 50px;
  background-color: #f6f6f6;
  border: solid black 1px;
  font-family: "Montserrat";
  font-weight: 400;
}
.shop-link:hover {
  cursor: pointer;
}

.hero-img {
  width: 15vw;
  height: 100%;
  transition: transform .2s;
}

.hero-img:hover {
  transform: scale(1.1);
}

.slider-container {
  overflow: hidden;
  height: 70vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
}

.slider {
  width: 100vw;
  position: relative;
  height: 60vh;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position:absolute;
  
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.slide-left, .slide-right {
  position: absolute;
  border: none;
  font-size: 2rem;
  color: #747474;
  background-color:transparent;
  cursor: pointer;
  z-index: 1;
}

.slide-left {
  margin-left: 40px;
  left: 0;
}

.slide-right {
  margin-right: 40px;
  right: 0;
}

.slider-section {
  padding-top: 200px;
  font-family: "Lora";
  background-color: #f6f6f6;
}



.featured-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured-header h1 {
  color: black;
}

.featured-img {
  width: 12vw;
}

.featured-title {
  text-align: center;
  color: rgb(66, 66, 66);
}

.featured-price {
  text-align: center;
}

.rooms-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40vh;
}

.rooms-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 33vw;
  background-position: bottom 25% right 50%;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.column1 {
  background:  rgba(0, 0, 0, 0.3) url("/public/images/bar.jpg");
  background-blend-mode: darken
}
.column2 {
  background: rgba(0, 0, 0, 0.3) url("/public/images/dining.jpg");
  background-blend-mode: darken
}
.column3 {
  background-image: url("/public/images/living.jpg");
}

.room-title {
  color: white;
  font-size: 2.2rem;
  border: none;
}

.rooms-categories {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  list-style: none;
  font-family: "Montserrat";
  text-align: center;
}


.rooms-categories a li {
  font-size: 0.9rem;
  color: white;
  z-index: 1;
}

.room-button {
  letter-spacing: 4px;
  color: white;
  background: transparent;
  border: solid white 1px;
  font-weight: bold;
  padding: 15px 30px;
}

.column h2, .column button {
  border: none;
}

.footer {
  margin-top: 20px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  gap: 10vw;
}

.footer-title {
  color: rgb(57, 57, 57);
  font-family: "Lora";
  letter-spacing: 4px;
}

.footer-newsletter {
  display: flex;
  flex-direction: column;
  width: 30vw;
}


.newsletter-signup {
  display: flex;
  flex-direction: row;
  float: left; 
  width: 100%;
  margin: 5% 0;
  position: relative;
}

.email-input {
  width: 100%;
  font-size: 1rem;
  opacity: 0.5;
  border: none;
  outline: none;
  padding: 7px 0; 
  border-bottom: 1px solid #ccc;
  z-index: 1
}

.email-input ~ .focus-animation {
  position: absolute; 
  bottom: 0; 
  left: 0; 
  width: 0; 
  height: 2px; 
  background-color: #3399FF; 
  transition: 0.4s;
  z-index: 1;
}

.email-input:focus ~ .focus-animation {
  width: 100%; 
  transition: 0.4s;
}

.email-valid {
  color: green;
}

.email-invalid {
  color: red;
}

.newsletter-signup button {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  color:rgb(57, 57, 57);
  position: absolute;
  right: 0;
  z-index: 1
}

.social-media {
  display: flex;
  gap: 20px;
  font-size: 1.8rem;
}


.addToWishlist:hover, .removeFromWishlist:hover, .shop-link:hover, .hero-img:hover, .room-button:hover {
  cursor: pointer;
}

.shop {
  background-color:#f6f6f6;
}

.shop-header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 15vw;
  font-size: 2rem;
  height: 50vh;
}

.shop-header span {
  background-color: #868686;
  height: 1px;
  width: 30px;
}

.shop-items {
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.shop-item {
  width: 45%;
  height: 20%;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.chair {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 30vh;
}


.wishlistItem, .cartItem {
  border: solid 1px black;
}
