.slider-container {
    overflow: hidden;
    height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
  }
  
  .slider {
    width: 100vw;
    position: relative;
    height: 60vh;
    overflow: hidden;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position:absolute;
    
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }
  
  .slide-left, .slide-right {
    position: absolute;
    border: none;
    font-size: 2rem;
    color: #747474;
    background-color:transparent;
    cursor: pointer;
    z-index: 1;
  }
  
  .slide-left {
    margin-left: 40px;
    left: 0;
  }
  
  .slide-right {
    margin-right: 40px;
    right: 0;
  }
  
  .slider-section {
    overflow: hidden;
    padding-top: 200px;
    font-family: "Lora";
    background-color: #f6f6f6;
  }
  
  
  
  .featured-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .featured-header h1 {
    color: black;
  }
  
  .featured-img {
    width: 12vw;
  }
  
  .featured-title {
    text-align: center;
    color: rgb(66, 66, 66);
  }
  
  .featured-price {
    text-align: center;
  }
  